#sh_lexer {
    -fx-color: red;
}

#test_btn {
    @fx-text: 'Test MessageWin';
}

.Button {
    -fx-font-family: 'serif';
    -fx-font-size: 15px;
    -fx-color: darkblue 50% lightblue 50%;
    -fx-cursor: hand;
}

#o_show_options {
    -fx-color: gray;
     @fx-text: '';
     -fx-border-color: blue;
     -fx-border-width: 3, 2, 5, 2;
     -fx-border-radius: 0;
     -fx-border-insets: 0;
     -fx-border-style: solid outside;
}

.MenuItem {
    -fx-background: green;
}