#sh_lexer {
    -fx-color: red;
}


.Button {
    -fx-font-family: 'serif';
    -fx-font-size: 15px;
    -fx-color: darkblue 50% lightblue 50%;
    -fx-cursor: hand;
}

#o_show_options {
    -fx-color: gray;
    -fx-pref-width: 20px;
}

.MenuItem {
    -fx-background: green;
}